@import "bourbon";

p:first-of-type:first-letter {
  height: 0.7em;
  margin: 0.09em 0 -0.05em 0;
  padding: 0 0.1em 0 0;
  font-size: 5em;
  line-height: 0.85em;
  float: left;
}


@import url(https://fonts.googleapis.com/css?family=Gilda+Display|Oswald);

html { font-size: 62.5%; }

body {
    background: rgb(174,234,238);
    background: radial-gradient(circle, rgba(174,234,238,1) 0%, rgba(233,148,148,1) 100%);
  font-family: 'Gilda Display', serif;
  font-size: 2em;
  line-height: 1.5;
  color: white;
}

.container {
  width: 40em;
  margin: 0 auto;
}

h1 {
  position: relative;
  top: -0.4em;
  margin: 0 0 -0.3em;
  font-family: 'Oswald', helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 8em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}